/* layout.css */
.wrapper {
    display: grid;
    box-sizing: border-box;
    grid-template-rows: auto auto auto;
    border: 2px solid orange;
    margin: 0;
    padding: 0;
    }   

    .container {
    border: 1px solid orange;
    margin: 0;
    }


