html {
	background-color: black;
	color: white;
	font: 14px Calibri,Arial,Helvetica,sans-serif;
	
}

h1 {	
	font-size: 36px;
	font-weight: lighter;
	color: rgb(255,0,0);
	text-shadow: 2px 4px 1px rgba(255,255,255,0.6);
}

header nav ul li {
	font-size: 18pt;
	color: rgb(255,-,0);
	text-shadow: 1px 2px 1px rgba(255, 255, 255, 0.6);
}

.meet-me,.about-me{
    font-size: 85px;
	font-weight: lighter;
	background-color:white;
	color: black;
	text-shadow: #8CA6D9 1px 0 10px;
	padding-left: 1em;
	margin-bottom: 0;
	border-bottom: 0;
	padding-bottom: 0;
}

.headshot-border {
	border-left: 10px solid rgba(255, 255, 255, 0.6);
}







ul {
	list-style: none;
}
a:-webkit-any-link {
    
	cursor: pointer;
    text-decoration: none;
}

.nav-menu-right {
color: white;
text-shadow: 1px 2px 1px rgba(255, 0, 0, 0.6);

}

.nav-menu-left {
	color: red;
	text-shadow: 1px 2px 1px rgba(255, 255, 255, 0.6);
	}
	

a:visited {
    text-decoration: none; 
}
a:hover {
    color: white;
	text-shadow: 1px 2px 1px rgba(128, 128, 128, 0.6);
}

.nav-menu-right:hover {
    color: red;
	text-shadow: 1px 2px 1px rgba(255, 255, 255, 0.6);
}

.other-pages {
	color: white;
	font-size: 36pt;
	font-weight:lighter;
}

footer	{
	background-color: black;
	color: white;
	text-align: right;
	font-size: small;
	padding-right: 2em;
}

.resume {
	font-size: 11pt;
	padding: 1em;
	line-height: 1.5em;


}

.resume hr {
margin: 2em 0 ;

}

.rtitle {
font-size: 22pt;
font-weight: bold;
}

.rrole {
		font-size: 14pt;
		font-weight: bold;
		}
.rbold {
	font-weight: bold;
}
		